@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes colorWave {
  0% {
    background-color: #4CCfff;
  }
  50% {
    background-color: #1CBBFF;
  }
  100% {
    background-color: #4CCfff;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  70% {
    transform: translateX(35%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  60% {
    transform: translateX(-15%);
    opacity: 1;
  }
  75% {
    transform: translateX(10%);
    opacity: 1;
  }
  90% {
    transform: translateX(-5%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
  background: linear-gradient(
    to bottom,
    #eff9ff 0%,
    #ffffff 30%,
    #eff9ff 50%,
    #ffffff 70%,
    #eff9ff 100%
  );
  min-height: 100vh;
  background-size: 100% 300%;
  animation: gradientAnimation 12s ease-in-out infinite alternate;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1800px;
  margin: 0 auto;
  width: 98%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem; /* Creates equal spacing between links */
  padding: 1rem;
}

.header-links a {
  text-decoration: underline;
  color: #666;
  font-size: .95rem;
  font-weight: 100;
  font-family: 'Suez One';
}

.header-links a:hover {
  color: #666;
}
.header-title {
  font-size: 1rem;
  color: #59B6F2;
  font-weight: 600;
  font-family: 'Suez One', serif;
  width: 30vw;
  max-width: 210px;
  min-width: 50px;
  height: auto;
}
.notification-type {
  font-size: 1.4rem;
  color: #333;
  text-decoration: underline;
  font-weight: 300;
  font-family: 'Suez One', serif;
  margin-left: 4rem;
  margin-bottom: 1rem;
  width: 80vw;
}
.notification-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2em 0;
}

.notification-image {
  max-width: 80vw;
  width: 100%;
  height: auto;
  object-fit: contain;
} 
.UJ-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-style: italic;
  padding: 1rem;
  color: #666666;
  font-weight: 200;
  font-family: 'Suez One', serif;
}
.blog-link {
  font-size: 1rem;
  color: #59B6F2;
  font-weight: 600;
  font-family: 'Suez One', serif;
  margin-right: 1rem;
  text-decoration: underline;
}
.hero-section {
  text-align: center;
  padding: .5rem .5rem;
}
.hero-title {
  font-size: 2rem;
  margin-top: .5rem;
  line-height: 1.25;
  font-family: 'Suez One', serif;
  font-weight: 500;
  color: #59B6F2;
  text-shadow: 
  -1px -1px 0 white,  /* Top-left */
   1px -1px 0 white,  /* Top-right */
  -1px  1px 0 white,  /* Bottom-left */
   1px  1px 0 white;  /* Bottom-right */
}

.blog-container {
  max-width: 800px;  /* limits width for better readability */
  margin: 0 auto;    /* centers the container */
  padding: 20px 40px; /* adds space around the content */
}

.blog-container h5 {
  font-size: 1.5rem;   /* increases font size */
  font-weight: 400;  /* makes text bold */
  color: #54b6f7;    /* changes text color */
  margin-bottom: 12px; /* adds space below the heading */
  text-align: center;  /* centers the heading */
  font-family: 'Suez One', serif;

}

.blog-container p {
  margin-bottom: 24px;  /* adds space between paragraphs */
  line-height: 1.8;     /* adds space between lines */
  font-size: 16px;
  font-weight: 420;    
  color: #555555  /* makes text more readable */
}

.footer-container {
  background-color: #42a0ff;
  padding: 3rem 1rem;
  margin-top: 4rem;
  border-top: 4px solid #e2e8f0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-sections {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}
.footer-section h3 {
  color: #f6f8f9;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
  color: #f6f8f9;

}

.footer-section a {
  color: #f6f8f9;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-section a:hover {
  color: #f6f8f9;
}

.footer-bottom {
  padding-top: 2rem;
  border-top: 1px solid #f6f8f9;
  text-align: center;
  color: #e8dada;
  font-size: 0.875rem;
}
.social-links {
  display: flex;
  gap: 2rem;
  margin-top: 0.75rem;
}

.social-icon {
  transition: transform 0.2s ease;
}

.social-icon:hover {
  transform: translateY(-2px);
}

/* Make images not look pixelated when scaled */
.social-icon img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.cookie-notice {
  margin-top: 1rem;
  font-size: 0.75rem;
}

@media (min-width: 620px) 
{
  .hero-title {
    font-size: 3rem;
  }
  .blog-link {
    margin-right: 3rem;
  }
  .blog-container {
    padding: 20px 80px; /* adds space around the content */
  }
  
  .blog-container h5 {
    font-size: 1.75rem;   /* increases font size */
  }
  
  .blog-container p {
    margin-bottom: 24px;  /* adds space between paragraphs */
    line-height: 1.8;     /* adds space between lines */
    font-size: 16px;
    font-weight: 420;    
    color: #555555  /* makes text more readable */
  }
  
  @media screen and (min-width: 1000px) {
    .blog-link {
      font-size: 1.2rem;
      color: #59B6F2;
      font-weight: 400;
      font-family: 'Suez One', serif;
      margin-right: 6rem;
      text-decoration: underline;
    }
    .notification-type {
      font-size: 1.4rem;
      color: #333;
      text-decoration: underline;
      font-weight: 300;
      font-family: 'Suez One', serif;
      margin-left: 4rem;
      margin-bottom: 1rem;
      width: 50vw;
    }
    .notification-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      margin: 2em 0;
    }
    
    .notification-image {
      max-width: 40vw;
      width: 100%;
      height: auto;
      object-fit: contain;
    } 
    .hero-section {
      text-align: center;
      padding: .5rem .5rem;
    }
    .hero-title {
      font-size: 3.75rem;
      margin-right: 300px;
      margin-left: 300px;
    }
  
    .blog-container {
      max-width: 700px;  /* limits width for better readability */
      margin: 0 auto;    /* centers the container */
      padding: 20px 40px; /* adds space around the content */
    }
    
    .blog-container h5 {
      font-size: 1.75rem;   /* increases font size */
      font-weight: 400;  /* makes text bold */
      color: #54b6f7;    /* changes text color */
      margin-bottom: 12px; /* adds space below the heading */
      text-align: center;  /* centers the heading */
      font-family: 'Suez One', serif;
    
    }
    
    .blog-container p {
      margin-bottom: 24px;  /* adds space between paragraphs */
      line-height: 1.8;     /* adds space between lines */
      font-size: 18px;
      font-weight: 420;    
      color: #555555  /* makes text more readable */
    }
    
    .signature-container {
      margin-top: -1rem;
      padding-left: 3rem;
      
    }
    
  
    .footer-container {
      background-color: #42a0ff;
      padding: 3rem 1rem;
      margin-top: 4rem;
      border-top: 4px solid #e2e8f0;
    }
    
    .footer-content {
      max-width: 1200px;
      margin: 0 auto;
    }
    
    .footer-sections {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
      margin-bottom: 2rem;
    }
    .footer-section h3 {
      color: #f6f8f9;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    
    .footer-section ul {
      list-style: none;
      padding: 0;
    }
    
    .footer-section ul li {
      margin-bottom: 0.5rem;
      color: #f6f8f9;
    
    }
    
    .footer-section a {
      color: #f6f8f9;
      text-decoration: none;
      transition: color 0.2s;
    }
    
    .footer-section a:hover {
      color: #f6f8f9;
    }
    
    .footer-bottom {
      padding-top: 2rem;
      border-top: 1px solid #f6f8f9;
      text-align: center;
      color: #e8dada;
      font-size: 0.875rem;
    }
    .social-links {
      display: flex;
      gap: 2rem;
      margin-top: 0.75rem;
    }
    
    .social-icon {
      transition: transform 0.2s ease;
    }
    
    .social-icon:hover {
      transform: translateY(-2px);
    }
    
    /* Make images not look pixelated when scaled */
    .social-icon img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
    
    .cookie-notice {
      margin-top: 1rem;
      font-size: 0.75rem;
    }
    
    
  }
}